* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Poboto', sans-serif;
    background-color: #fff;
    color: black;
}

a {
    color: #150C01;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 100%;
    height: auto;
}

.header {
    padding: 25px 0;
    background-color: #fff;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    align-items: center;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__nav a {
    font-size: 18px;
    color: #150C01;
    opacity: 0.8;
}

.header__nav a:hover {
    opacity: 0.9;
    color: #dc8720;
}

.header__nav a.active {
    font-size: 18px;
    color: #dc8720;
    opacity: 0.8;
}

.btn-container {
    position: absolute;
    display: flex; 
    gap: 30px;
    top: 532px;
}

.btn, .btn1, .btn2, .btn3, .btn4, btn5{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 165px;
    height: 50px;
    transition: opacity 0.3s;
}

.btn {
    color: #fff;
    background: #dc8720;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.btn1 {
    color: #fff;
    background: #dc8720;
    font-weight: 500;
    margin-top: 1px;
    transition: opacity 0.3s;
}

.btn2 {
    font-weight: 500;
    text-decoration: none;
    color: #dc8720;
    border: 1px solid #ffd6a3;
}

.btn:hover {
    opacity: 0.8;
}

.main__image {
    top: 20px;
    margin-left: 600px;
    background-size: cover;
    z-index: -2;
    width: 840px;
    height: auto;
}

.welcome__title {
    position: absolute;
    width: 650px;
    height: 161px;
    left: 150px;
    top: 236px;

    font-family: 'Philosopher';
    font-style: normal;
    font-size: 57px;
    line-height: 58px;
    color: #150C01;
}

.welcome__desc {
    position: absolute;
    width: 555px;
    height: 43px;
    left: 150px;
    top: 439px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #150C01;

    opacity: 0.7;

}

.features {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 100px;
    color: #DC780B;
    opacity: 0.7;
}

.main__title {
    width: 352px;
    height: 35px;
    left: 544px;
    top: 841px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 35px;
    text-transform: capitalize;

    color: #150C01;
} 

.food__position {
    position: relative;
    width: 100%;
    margin-top: 20px;
    
}

.food__position .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 941px;
    gap: 10px;
    padding: 0 15px;
}

.food__list {
    flex: 1;
    text-align: center;
    margin: 20px;
}

.font__image {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.freatures__list_title {
    margin: 10px auto;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    color: #150C01;
    margin-bottom: 10px;
}

.features__list_desc {
    margin: 20px auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #150C01;
    opacity: 0.7;
    max-width: 700px;
}

.image-container {
    position: relative;
    width: 100px;  
    height: 100px;  
    background-image: url('./assets/images/Group 24.png'); 
    background-size: contain;
    left: 30%;
}

.front-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;  
    height: auto;
}

.about__image {
    position: absolute;
    width: 555px;
    height: 500px;
    left: 150px;
    top: 1271.73px;
    border-radius: 35px;
}

.about__title {
    position: absolute;
    left: 802px;
    top: 1364.73px;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #DC780B;
    opacity: 0.7;

}

.about__main_title {
    position: absolute;
    width: 487px;
    height: 112px;
    left: 803px;
    top: 1390.73px;

    font-family: 'Philosopher';
    font-size: 33px;
    line-height: 44px;

    color: #150C01;

}

.about__desc {
    position: absolute;
    width: 487px;
    height: 76px;
    left: 803px;
    top: 1550px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #150C01;

    opacity: 0.7;

}

.btn3 {
    position: absolute;
    color: #fff;
    background: #dc8720;
    font-weight: 500;
    margin-top: 1px;
    transition: opacity 0.3s;
    width: 142px;
    height: 42px;
    left: 803px;
    top: 1670px;
}

.about__area {
    position: absolute;
    width: 1140px;
    height: 500px;
    left: 150px;
    top: 123px;
}

.menu__main {
    position: absolute;
    width: 990px;
    height: 146px;
    left: 347px;
    top: 2000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__title {
    width: 55px;
    height: 24px;
    left: 693px;
    top: 1887px;

    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #DC780B;

    opacity: 0.7;
}

.menu__main_title {
    width: 325px;
    height: 24px;
    left: 557px;
    top: 1920px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 24px;
    margin: 15px;
    display: flex;
    align-items: center;

    color: #150C01;
}

.menu__desc {
    width: 748px;
    height: 64px;
    left: 347px;
    top: 1969px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #150C01;

    opacity: 0.7;
}

.menu__products .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1400px;
    padding: 0 15px;
}


.product-list {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 425px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 900px;
}

.product-list2 {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 425px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 100px;
}

.product-image {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.title_product {
    font-size: 24px;
    color: #333;
    margin: 21;
    margin-left: 25px;
    font-family: 'Philosopher';
    font-style: normal;
}

.price {
    font-size: 22px;
    margin: 21;
    color: #333;
    margin-right: 25px;
    font-family: 'Philosopher';
    font-style: normal;
}


.product-description {
    font-size: 14px;
    color: #777;
    margin: 10px 0;
    width: 300px; 
    white-space: normal; 
    word-break: normal; 
    margin-left: 19px
}


.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e67e22;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 15%;
    text-decoration: none;
    bottom: 20px;
    margin-left: 25px;
    font-size: 24px;
    transition: background 0.3s ease;

}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    
}

.add-to-cart:hover {
    background: #d35400;
}

.rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.rating {
    display: flex;
    justify-content: center;
    margin-right: 25px;
    margin-top: 20;
}

.star {
    font-size: 20px;
    color: #f39c12;
    margin: 0 2px;
}

.btn4 {
    font-weight: 500;
    text-decoration: none;
    color: #dc8720;
    border: 1px solid #ffd6a3;
    margin: 50px;
    margin-left: 45%;
} 

.social_media {
    height: 518px;
    margin-top: 187px;
    background: #FBF1E7;
}

.order__product {
    position: absolute;
    width: 555px;
    height: 275px;
    left: 247px;
    top: 3480px;
}

.main_title{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #DC780B;
    opacity: 0.7;
    margin-top: 114px;
    
}

.social_main_title {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #150C01;
    margin-top: 5px;
}

.social_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #150C01;
    opacity: 0.7;
    margin-top: 29px;

}

.phone {
    width: 323.14px;
    text-align: center;
    height: 651px;
    margin: 0 auto; 
    display: block;
}

.parent-container {
    width: 350%; 
    text-align: center;
    margin-bottom: 100px;
}

.parent-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.text-container {
    flex: 1;
    padding-right: 20px;
}

.phone {
    width: 323.14px;
    height: 651px;
    display: block;
    margin: 0 auto;
    margin-left: 150%;
}

.order__phone {
    position: absolute;
    width: 570px;
    height: 275px;
    left: 240px;
    top: 3360px;
}

.app_buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.app_buttons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #000000;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    color: white;
}

.app_buttons a:hover {
    background-color: #e0e0e0;
}

.socia_apple {
    width: 24px;
    height: 24px;
}

.socia_apple {
    background: url('./assets/images/apple 1.png') no-repeat center center;
    background-size: contain;
    color: white;
}

.socia_playmarket a{
    color: #eedcc5;
    border: 1px solid #fffefc;
}

.testimonil {
    width: 990px;
    height: 146px;
    left: 347px;
    top: 3000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonil__main {
    margin-left: 70%;
    width: 70%;
}

.testimonil__title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #DC780B;
    opacity: 0.7;
    margin-top: 114px;

}

.testimonil__main_title {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #150C01;
    margin-top: 5px;
}

.testimonil__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #150C01;
    opacity: 0.7;
    margin-top: 29px;
}

.testimonil_review {
    position: absolute;
    width: 506px;
    height: 166px;
    left: 590px;
    top: 4390px;
}

.image_user {
    position: absolute;
    width: 60px;
    height: auto;
    left: 800px;
    top: 4241px;
}

.review_text {

}

.review__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top: 32px;
}

.rating2 {
    display: flex;
    justify-content: center;
    margin-right: 25px;
    margin-top: 20px;
}

.contacts {
    height: 518px;
    margin-top: 500px;
    background: #FBF1E7;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_contact {
    position: absolute;
    margin-left: 10px;
    width: 50%;
}

.input_area {
    flex-grow: 1;
    height: 60px;
    border: 10px solid white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 1px;
    font-size: 16px;
}

.btn5 {
    width: 130px;
    height: 60px;
    color: #fff;
    background: #dc8720;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.container_area {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 46px;
}

.footer_background {
    height: 503px;
}

.footer__logo {
    width: 61px;
    height: 60px;
    margin-left: 150px;
    margin-top: 137px;
}

.address{
    margin-top: 25px;
    margin-left: 150px;
    color: white;
    opacity: 0.7;
}

.address p {
    margin: 17px 0;
    opacity: 0.7;
}

.background_footer{
    height: 503px; 
    background: #252525;
}

.fg {
    color: white;
    opacity: 0.5;
}

.home {
    margin-left: 232px;
    color: white;
    opacity: 0.7;
}

.home p {
    margin: 17px 0;
    opacity: 0.7;
}

.footer_menus {
    display: flex;
}

.social-share {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.social-share a {
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


