* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Poboto', sans-serif;
    background-color: #fff;
    color: black;
}

a {
    color: #150C01;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 100%;
    height: auto;
}

.header {
    padding: 25px 0;
    background-color: #fff;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    align-items: center;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__nav a {
    font-size: 18px;
    color: #150C01;
    opacity: 0.8;
}

.header__nav a:hover {
    opacity: 0.9;
    color: #dc8720;
}

.header__nav a.active {
    font-size: 18px;
    color: #dc8720;
    opacity: 0.8;
}

.btn-container {
    position: absolute;
    display: flex; 
    gap: 30px;
    top: 532px;
}

.btn, .btn1, .btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 165px;
    height: 50px;
    transition: opacity 0.3s;
}

.btn {
    color: #fff;
    background: #dc8720;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.btn1 {
    color: #fff;
    background: #dc8720;
    font-weight: 500;
    margin-top: 1px;
    transition: opacity 0.3s;
}

.btn2 {
    font-weight: 500;
    text-decoration: none;
    color: #dc8720;
    border: 1px solid #ffd6a3;
}

.btn:hover {
    opacity: 0.8;
}

.main__image {
    top: 20px;
    margin-left: 600px;
    background-size: cover;
    z-index: -2;
    width: 840px;
    height: auto;
}

.welcome__title {
    position: absolute;
    width: 650px;
    height: 161px;
    left: 150px;
    top: 236px;

    font-family: 'Philosopher';
    font-style: normal;
    font-size: 57px;
    line-height: 58px;
    color: #150C01;
}

.welcome__desc {
    position: absolute;
    width: 555px;
    height: 43px;
    left: 150px;
    top: 439px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #150C01;

    opacity: 0.7;

}

.features {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 100px;
    color: #DC780B;
    opacity: 0.7;
}

.main__title {
    width: 352px;
    height: 35px;
    left: 544px;
    top: 841px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 35px;
    text-transform: capitalize;

    color: #150C01;
} 

.food__position {
    position: relative;
    width: 100%;
    margin-top: 20px;
    
}

.food__position .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 941px;
    gap: 10px;
    padding: 0 15px;
}

.food__list {
    flex: 1;
    text-align: center;
    margin: 20px;
}

.font__image {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.freatures__list_title {
    margin: 10px auto;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    color: #150C01;
    margin-bottom: 10px;
}

.features__list_desc {
    margin: 20px auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #150C01;
    opacity: 0.7;
    max-width: 700px;
}
 
.image-container {
    position: relative;
    width: 100px;  
    height: 100px;  
    background-image: url('./assets/images/Group 24.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.front-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;  /* Adjust size as needed */
    height: auto;
}
